<div class="wrapper">
  <h2>Edit <%=@design.title%></h2>
  <p>would you like to delete this design?</p>
  <%=link_to 'death to design', design_path(@design), :method => :delete %>
  <br>
  <br>
  <br>

  <%= render "design_form" %>

</div>
