<div class="wrapper">
  <h2>Edit <%=@program.title%></h2>

  <p>would you like to delete this program?<p>
  <%=link_to 'deprogram', program_path(@program), :method => :delete %>
  <br>

  <%= render "program_form" %>

</div>

