<div class="logo_type_not_home">
    <h1>design</h1> 
</div>

<div class="wrapper">

<%@designs.each do |d|%> <!-- these designs are using my designimages class...does paper clip offer an easier solution? -->
  
<%end%>

</div>