// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#hr_holder__5 {
  position: relative;
  width: 108px;
  bottom: 84px;
  left: 5px;
}

#about_wrapper {
  position: relative;
  top: 75px;
  margin: 50px auto;
  width: 30%;
  line-height: 1.25em;
}