/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*  /$$$$$$  /$$        /$$$$$$  /$$$$$$$   /$$$$$$  /$$      
   /$$__  $$| $$       /$$__  $$| $$__  $$ /$$__  $$| $$      
  | $$  \__/| $$      | $$  \ $$| $$  \ $$| $$  \ $$| $$      
  | $$ /$$$$| $$      | $$  | $$| $$$$$$$ | $$$$$$$$| $$      
  | $$|_  $$| $$      | $$  | $$| $$__  $$| $$__  $$| $$      
  | $$  \ $$| $$      | $$  | $$| $$  \ $$| $$  | $$| $$      
  |  $$$$$$/| $$$$$$$$|  $$$$$$/| $$$$$$$/| $$  | $$| $$$$$$$$
  \______/ |________/ \______/ |_______/ |__/  |__/|________/*/


@font-face {
    font-family: avenir;
    src: local(avenir), url('avenir.ttc') format('opentype');
}

@font-face {
    font-family: anonymous pro;
    src: local('anonymous pro'), url('anonymous pro.ttf') format('opentype');
}

@font-face {
    font-family: dejavuserif;
    src: local('dejavuserif'), url('dejavuSerif.ttf') format('opentype');
}

@font-face {
    font-family: droidserif;
    src: local('droidserif-regular'), url('adroidserif-regular.ttf') format('opentype');
}

body {
  width: 100%;
  font-size: 100%;
  cursor: crosshair;
}

html {
  width: 100%
}

h1 {
  font-family: "avenir", "Trebuchet MS", helvetica, sans-serif;
  color: #7a7a7a;
  font-size: 570%;
  font-weight: normal;
}

h2 {
  font-family: "avenir", "Trebuchet MS", helvetica, sans-serif;
  font-size: 1.5em;
}


h3 {
  font-family: "avenir", "Trebuchet MS", helvetica, sans-serif;
  font-size: 1.7em;
}

h4 {
  font-family: 'dejavuserif', 'droidserif-regular', 'anonymous pro', "Palatino Linotype", "Book Antiqua", Palatino serif;
  font-size: .95em;
}

a {
  text-decoration: none;
  color: #04adcc;
}

/*for design and program pages*/

.thumb_box {
  max-width: 111px;
  height: 111px;
  overflow: hidden;
  margin-bottom: 15px;
}

.place_holder_thumb {
  width: 111px;
  height: 111px;
  background: white;
  padding: 1px;
}


/* /$$      /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$  /$$$$$$ 
  | $$$    /$$$| $$_____/| $$__  $$|_  $$_/ /$$__  $$
  | $$$$  /$$$$| $$      | $$  \ $$  | $$  | $$  \ $$
  | $$ $$/$$ $$| $$$$$   | $$  | $$  | $$  | $$$$$$$$
  | $$  $$$| $$| $$__/   | $$  | $$  | $$  | $$__  $$
  | $$\  $ | $$| $$      | $$  | $$  | $$  | $$  | $$
  | $$ \/  | $$| $$$$$$$$| $$$$$$$/ /$$$$$$| $$  | $$
  |__/     |__/|________/|_______/ |______/|__/  |__/*/


video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}


/* /$$$$$$$$ /$$$$$$ /$$   /$$ /$$$$$$$$  /$$$$$$ 
  | $$_____/|_  $$_/| $$  / $$| $$_____/ /$$__  $$
  | $$        | $$  |  $$/ $$/| $$      | $$  \__/
  | $$$$$     | $$   \  $$$$/ | $$$$$   |  $$$$$$ 
  | $$__/     | $$    >$$  $$ | $$__/    \____  $$
  | $$        | $$   /$$/\  $$| $$       /$$  \ $$
  | $$       /$$$$$$| $$  \ $$| $$$$$$$$|  $$$$$$/
  |__/      |______/|__/  |__/|________/ \______/ */


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fixer {
  position: fixed;
  width: 100%;
  z-index : 1;
}

.wrapper_blocker {
  position: fixed;
  top: 0;
  background: white;
  height: 100px;
  width: 100%;
  z-index: 1;
}


/* /$$      /$$  /$$$$$$  /$$$$$$ /$$   /$$       /$$        /$$$$$$  /$$     /$$ /$$$$$$  /$$   /$$ /$$$$$$$$
  | $$$    /$$$ /$$__  $$|_  $$_/| $$$ | $$      | $$       /$$__  $$|  $$   /$$//$$__  $$| $$  | $$|__  $$__/
  | $$$$  /$$$$| $$  \ $$  | $$  | $$$$| $$      | $$      | $$  \ $$ \  $$ /$$/| $$  \ $$| $$  | $$   | $$   
  | $$ $$/$$ $$| $$$$$$$$  | $$  | $$ $$ $$      | $$      | $$$$$$$$  \  $$$$/ | $$  | $$| $$  | $$   | $$   
  | $$  $$$| $$| $$__  $$  | $$  | $$  $$$$      | $$      | $$__  $$   \  $$/  | $$  | $$| $$  | $$   | $$   
  | $$\  $ | $$| $$  | $$  | $$  | $$\  $$$      | $$      | $$  | $$    | $$   | $$  | $$| $$  | $$   | $$   
  | $$ \/  | $$| $$  | $$ /$$$$$$| $$ \  $$      | $$$$$$$$| $$  | $$    | $$   |  $$$$$$/|  $$$$$$/   | $$   
  |__/     |__/|__/  |__/|______/|__/  \__/      |________/|__/  |__/    |__/    \______/  \______/    |__/  */ 


.wrapper {
  position: relative;
  top: 75px;
  width: 50%;
  margin: 50px auto;
}

.wrapper p {
  font-family: 'dejavuserif', 'droidserif-regular', 'anonymous pro', "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: .90em;
  line-height: 1.55em;
}


#donpic {
  position: fixed;
  top: 32px;
  left: 38px;
  width: 120px;
  z-index: 2;
}

#donpic_homepage {
  width: 120px;
  z-index: 1;
}

#donpic_homepage_hover {
  width: 120px;
  z-index: 1;
  display: none;
}


/*  /$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$  /$$$$$$  /$$      
   /$$__  $$ /$$__  $$ /$$__  $$|_  $$_/ /$$__  $$| $$      
  | $$  \__/| $$  \ $$| $$  \__/  | $$  | $$  \ $$| $$      
  |  $$$$$$ | $$  | $$| $$        | $$  | $$$$$$$$| $$      
   \____  $$| $$  | $$| $$        | $$  | $$__  $$| $$      
   /$$  \ $$| $$  | $$| $$    $$  | $$  | $$  | $$| $$      
  |  $$$$$$/|  $$$$$$/|  $$$$$$/ /$$$$$$| $$  | $$| $$$$$$$$
   \______/  \______/  \______/ |______/|__/  |__/|________/*/


#social {
  position: fixed;
  top: 163px;
  right: 20px;
  width: 40px;
  z-index: 2;
}

.social_links {
    width: 20px;
    height: 18px;
    margin: 5px 15px -4px 0;
}


/* /$$   /$$  /$$$$$$  /$$    /$$ /$$$$$$$   /$$$$$$  /$$$$$$$ 
  | $$$ | $$ /$$__  $$| $$   | $$| $$__  $$ /$$__  $$| $$__  $$
  | $$$$| $$| $$  \ $$| $$   | $$| $$  \ $$| $$  \ $$| $$  \ $$
  | $$ $$ $$| $$$$$$$$|  $$ / $$/| $$$$$$$ | $$$$$$$$| $$$$$$$/
  | $$  $$$$| $$__  $$ \  $$ $$/ | $$__  $$| $$__  $$| $$__  $$
  | $$\  $$$| $$  | $$  \  $$$/  | $$  \ $$| $$  | $$| $$  \ $$
  | $$ \  $$| $$  | $$   \  $/   | $$$$$$$/| $$  | $$| $$  | $$
  |__/  \__/|__/  |__/    \_/    |_______/ |__/  |__/|__/  |__/*/


#navbar nav a {
  display: inline-block;
  width: 7%;
  font: .95em avenir, helvetica, Arial, sans-serif;
  color: #7a7a7a;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0 30px;
}

#navbar nav a.selected {
  background: #333;
  color: black;
}

#navbar {
  border-bottom: 1.5px solid;
  border-color: #04adcc;
  margin: 25px 0 0 0;
}

#navbar nav a:hover {
  color: #04adcc;
}

#navbar_home {
  position: fixed;
  top: 13%;
  left: 6%;
  width: 45%;
}

#navbar_home nav a {
  float: left;
  margin-right: 35px;
  font: .95em avenir, helvetica, Arial, sans-serif;
  color: #7a7a7a;
  text-align: center;
  text-decoration: none;
}

#navbar_home nav a.selected {
  background: #333;
  color: white;
}

#navbar_home nav a:hover {
  color: #04adcc;
}

.links {
  margin: 0 0 0 120px;
}

/*new nav tree */
#nav_tree__container {
  position: fixed;
  left: 100px;
  top: 70px;
  background: image-url('nav_tree.png') no-repeat;
  background-size: 100% 100%;
  height: 500px;
  width: 700px;
}

.link_holder {
  background-color: white;
  border-style: solid;
  border-color: #04adcc;
  border-width: 2px;
  width: 150px;
  min-height: 30px;
  text-align: center;
  color: black;
  vertical-align: middle;
  line-height: 30px;
  margin-bottom: 100px;
  -moz-box-shadow: 5px 5px 7px 0px #AAA;
  -webkit-box-shadow: 5px 5px 7px 0px #AAA;
}

.link_holder:hover {
  background-color: #04adcc;
  color: white;
}

.link_holder:active{
  background-color: #04adcc;
  color: white;
  -moz-box-shadow: 0px 0px 0px 0px #AAA;
  -webkit-box-shadow: 0px 0px 0px 0px #AAA;
}

#about_link {
  max-width: 150px;
  position: relative;
  left: 41.5%;
  bottom: 3%;
}

#about_link:active {
  position: relative;
  bottom: 2%;
}

#design_link {
  position: relative;
  top: 127px;
  left: 6%;
}

#design_link:active {
  position: relative;
  top: 129px;
}

#programming_link {
  position: relative;
  left: 72%;
  bottom: 1%;
}

#programming_link:active {
  position: relative;
  bottom: 0%;
}

#blog_link {
  position: relative;
  left: 72%;
}

#blog_link:active {
  position: relative;
  top: 1%;
}

/* /$$        /$$$$$$   /$$$$$$   /$$$$$$ 
  | $$       /$$__  $$ /$$__  $$ /$$__  $$
  | $$      | $$  \ $$| $$  \__/| $$  \ $$
  | $$      | $$  | $$| $$ /$$$$| $$  | $$
  | $$      | $$  | $$| $$|_  $$| $$  | $$
  | $$      | $$  | $$| $$  \ $$| $$  | $$
  | $$$$$$$$|  $$$$$$/|  $$$$$$/|  $$$$$$/
  |________/ \______/  \______/  \______/ */


.logo_type {
  position: fixed;
  top: 40%;
  left: 66%;
}

#logo_type_1 {
  line-height: 100%;
}

#logo_type_2 {
  position: absolute;
  top: 77%;
  line-height: 100%;
}

.logo_type_not_home {
  position: fixed;
  top: 66%;
  left: 8%;
}

.don_design {
  -letter-transform: skew(-4deg) none;
  -letter-color: #04adcc;
  -letter-kern: -2px 0 0 -2px -1px;
}

#don_design {
  color: #04adcc;
  margin: 17px;
}

.don_program {
  -letter-transform: none none skew(-4deg) none;
  -letter-color: none none #04adcc;
  -letter-kern: 0 0 -1px;
}

#don_program {
    color: #04adcc;
    margin: 17px;
}

.don_rinse {
  -letter-transform: none none skew(-4deg) none;
  -letter-color: none none #04adcc;
  -letter-kern: 0 0 -2px;
}

#don_rinse {
  color: #04adcc;
  margin: 17px;
}

.don {
  color: #04adcc;
}

#don_repeat {
  color: #04adcc;
  margin: 17px;
}

/* /$$$$$$$$ /$$$$$$   /$$$$$$  /$$$$$$$$ /$$$$$$$$ /$$$$$$$ 
  | $$_____//$$__  $$ /$$__  $$|__  $$__/| $$_____/| $$__  $$
  | $$     | $$  \ $$| $$  \ $$   | $$   | $$      | $$  \ $$
  | $$$$$  | $$  | $$| $$  | $$   | $$   | $$$$$   | $$$$$$$/
  | $$__/  | $$  | $$| $$  | $$   | $$   | $$__/   | $$__  $$
  | $$     | $$  | $$| $$  | $$   | $$   | $$      | $$  \ $$
  | $$     |  $$$$$$/|  $$$$$$/   | $$   | $$$$$$$$| $$  | $$
  |__/      \______/  \______/    |__/   |________/|__/  |__/*/


footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center; 
  font-size: 0.75em;
  padding: 10px 0;
  background: #919191;
  border-top: 1px solid;
  border-color: #04adcc;
}

/* /$$   /$$  /$$$$$$  /$$      /$$ /$$$$$$$$
  | $$  | $$ /$$__  $$| $$$    /$$$| $$_____/
  | $$  | $$| $$  \ $$| $$$$  /$$$$| $$      
  | $$$$$$$$| $$  | $$| $$ $$/$$ $$| $$$$$   
  | $$__  $$| $$  | $$| $$  $$$| $$| $$__/   
  | $$  | $$| $$  | $$| $$\  $ | $$| $$      
  | $$  | $$|  $$$$$$/| $$ \/  | $$| $$$$$$$$
  |__/  |__/ \______/ |__/     |__/|________/*/

#home_head {
  color: #7a7a7a;
}

#home_head:hover {
  margin: 17px;
  color: #04adcc;
  text-decoration: none;
}

#rinse_link {
  color: #7a7a7a;
}

#rinse_link:hover {
  margin: 17px;
  text-decoration: none;
  color: #04adcc;
}

#repeat_link {
  color: #7a7a7a;
}

#repeat_link:hover {
  margin: 17px;
  text-decoration: none;
  color: #04adcc;
}

#logo_type_2 a:hover{
  color: #04adcc;
}


/* /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$ /$$    /$$ /$$$$$$$$
  | $$__  $$| $$_____/ /$$__  $$| $$__  $$ /$$__  $$| $$$ | $$ /$$__  $$|_  $$_/| $$   | $$| $$_____/
  | $$  \ $$| $$      | $$  \__/| $$  \ $$| $$  \ $$| $$$$| $$| $$  \__/  | $$  | $$   | $$| $$      
  | $$$$$$$/| $$$$$   |  $$$$$$ | $$$$$$$/| $$  | $$| $$ $$ $$|  $$$$$$   | $$  |  $$ / $$/| $$$$$   
  | $$__  $$| $$__/    \____  $$| $$____/ | $$  | $$| $$  $$$$ \____  $$  | $$   \  $$ $$/ | $$__/   
  | $$  \ $$| $$       /$$  \ $$| $$      | $$  | $$| $$\  $$$ /$$  \ $$  | $$    \  $$$/  | $$      
  | $$  | $$| $$$$$$$$|  $$$$$$/| $$      |  $$$$$$/| $$ \  $$|  $$$$$$/ /$$$$$$   \  $/   | $$$$$$$$
  |__/  |__/|________/ \______/ |__/       \______/ |__/  \__/ \______/ |______/    \_/    |________/*/


@media only screen and (max-width: 1367px) {
  .logo_type {
    position: fixed;
    top: 38%;
  }

}

@media only screen and (max-width: 1250px) {
  .wrapper {
    width: 40%;
    left: 7%;
  }

  #navbar {
    width: 100%;
  }

  #navbar nav a {
    font: .90em avenir, helvetica, Arial, sans-serif;
  }


}

@media only screen and (max-width: 1175px) {

  #navbar_home {
    top: 13%;
    left: 25%;
    width: 70%;
  } 

  .logo_type {
    position: fixed;
    top: 300px;
    left:30%;
    font-size: 65%;
  }


  #logo_type_1 {
    line-height: 100%;
  }

  #logo_type_2 {
    position: absolute;
    top: 77%;
    line-height: 100%;
  }

}

@media only screen and (max-width: 1080px) {

  #navbar_home {
    top: 13%;
    left: 25%;
    width: 70%;
  } 

  .logo_type {
    position: fixed;
    top: 300px;
    left:33%;
    font-size: 65%;
  }


  #logo_type_1 {
    line-height: 100%;
  }

  #logo_type_2 {
    position: absolute;
    top: 77%;
    line-height: 100%;
  }

  #navbar nav a {
  font: .85em avenir, helvetica, Arial, sans-serif;
  }

}



@media only screen and (max-width: 1000px) {

  .wrapper {
    position: relative;
    top: 75px;
    width: 50%;
    margin: 50px auto;
  }

  #navbar {
    font-size: 90%;
    width: 100%;
  }

  #navbar nav a {
    display: inline-block;
    width: 10%;
  }

  #navbar_home {
    left: 20%;
  }

  .logo_type {
    position: fixed;
    top: 300px;
    left:40%;
    font-size: 65%;
  }

  .logo_type_not_home {
    font-size: 80%;
  }

  #donpic {
    position: fixed;
    top: 33px;
    left: 40px;
    z-index: 2;
    width: 100px;

  }


}


@media only screen and (max-width: 800px) {
  #navbar {
    font-size: 80%;
    width: 100%;
  }

  #navbar_home {
  }


  #donpic {
    position: fixed;
    top: 40px;
    left: 35px;
    z-index: 2;
    width: 90px;
  }

 .wrapper {
    width: 47%;
    left: 5%;
  }

  .logo_type {
    position: absolute;
    left: 30%;
    top: 175px;
    font-size: 50%;
  }

}

@media only screen and (max-width: 750px) {
  
  #nav_tree__container {
    display: none;
  }

  #navbar {
    font-size: 80%;
    width: 100%;
    left: 10%;
  }

  #navbar_home {
    width: 70%;
    left: 10%;
  } 

  .logo_type {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 90%;
  }

  .logo_type_not_home {
    display: none;
  }

  .wrapper {
    width: 55%;
    left: 0%;
  }

}

@media only screen and (max-width: 700px) {
  #navbar {
    width: 100%;
    left: 10%;
  }

  #navbar_home {
    font-size: 80%;
    width: 80%;
    left: 0%;
    font-size: 100%;
  }

  .logo_type {
    position: absolute;
    left: 0%;
    top: 50%;
    font-size: 95%;
  }

  .wrapper {
    width: 55%;
    left: 2%;
  }

}


@media only screen and (max-width: 640px) {

  #navbar_home {
    position: relative;
    top: 50%;
    left: 5%;
    width: 100%;
    font-size: 100%;
  }

  #navbar_home nav a {
    margin-right: 30px;
  }

  .links {
    margin: 0 0 0 100px;
  }

  .logo_type {
    position: absolute;
    top: 60px;
    left: -45px;
  }

}

@media only screen and (max-width: 515px) {

  #navbar_home {
    position: relative;
    top: 50px;
    left: 0%;
    width: 100%;
    font-size: 85%;
  }

  #navbar_home nav a {
    margin-right: 20px;
  }

  .logo_type {
    position: absolute;
    top: 50%;
    font-size: 80%;
    left: -10px;
  }

  #navbar {
    margin-left: 0px;
    font-size: 73%;
    width: 100%;
  }

  #donpic {
    display: none;
  }

}

@media only screen and (max-width: 485px) {

  .links {
    margin: 0 0 0 50px;
  }

  .logo_type {
    position: absolute;
    top: 60px;
    font-size: 75%;
    left: -50px;
  }

}