/*// Place all the styles related to the design controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/* /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$  /$$$$$$  /$$   /$$       /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$$  /$$$$$$ 
  | $$__  $$| $$_____/ /$$__  $$|_  $$_/ /$$__  $$| $$$ | $$      | $$__  $$ /$$__  $$ /$$__  $$| $$_____/ /$$__  $$
  | $$  \ $$| $$      | $$  \__/  | $$  | $$  \__/| $$$$| $$      | $$  \ $$| $$  \ $$| $$  \__/| $$      | $$  \__/
  | $$  | $$| $$$$$   |  $$$$$$   | $$  | $$ /$$$$| $$ $$ $$      | $$$$$$$/| $$$$$$$$| $$ /$$$$| $$$$$   |  $$$$$$ 
  | $$  | $$| $$__/    \____  $$  | $$  | $$|_  $$| $$  $$$$      | $$____/ | $$__  $$| $$|_  $$| $$__/    \____  $$
  | $$  | $$| $$       /$$  \ $$  | $$  | $$  \ $$| $$\  $$$      | $$      | $$  | $$| $$  \ $$| $$       /$$  \ $$
  | $$$$$$$/| $$$$$$$$|  $$$$$$/ /$$$$$$|  $$$$$$/| $$ \  $$      | $$      | $$  | $$|  $$$$$$/| $$$$$$$$|  $$$$$$/
  |_______/ |________/ \______/ |______/ \______/ |__/  \__/      |__/      |__/  |__/ \______/ |________/ \______/*/

/*________________________________*/


/*  /$$$$$$  /$$   /$$  /$$$$$$  /$$      /$$
   /$$__  $$| $$  | $$ /$$__  $$| $$  /$ | $$
  | $$  \__/| $$  | $$| $$  \ $$| $$ /$$$| $$
  |  $$$$$$ | $$$$$$$$| $$  | $$| $$/$$ $$ $$
   \____  $$| $$__  $$| $$  | $$| $$$$_  $$$$
   /$$  \ $$| $$  | $$| $$  | $$| $$$/ \  $$$
  |  $$$$$$/| $$  | $$|  $$$$$$/| $$/   \  $$
   \______/ |__/  |__/ \______/ |__/     \__/*/


.design_wrapper {
  position: relative;
  top: 80px;
  width: 60%;
  margin: 50px auto;
}

.design_wrapper_2 {
  position: relative;
  top: 80px;
  width: 70%;
  margin: 50px auto;
}

.design_thumb_container_1 {
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.design_thumb_container_2 {
  display: inline-block;
  width: 112px;
  margin-right: 10px;
  float: left;
}

.thumb {
  height: 111px;
  margin-bottom: 31px;
  padding: 1px;
  max-width: 100%;
  height: auto;
}

.design_view_container {
  float: left;
  max-width: 64%;
  max-height: 100%;
}

.design_view_container_2 {
  float: left;
  max-width: 54%;
  max-height: 100%;
}

.long_desc {
  max-width: 20%; 
  float: right;
  padding: 0 0 0 5px;
  font-family: 'dejavuserif', 'droidserif-regular', 'anonymous pro', "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: .85em;
  line-height: 1.55em;
  border-left: solid;
  border-color: #04adcc;
  border-width: 2px;
}

.design_container {
  max-height: 100%
}

.logo_type_not_home__design_show_1 {
  position: fixed;
  top: 60%;
  left: 68%;
}

.logo_type_not_home__design_show_2 {
  position: fixed;
  top: 60%;
  left: 71%;
}

#title_headline {
  max-width: 90px; 
  font-size: 3em; 
  color: #04adcc;
}


/* /$$$$$$ /$$   /$$ /$$$$$$$  /$$$$$$$$ /$$   /$$
  |_  $$_/| $$$ | $$| $$__  $$| $$_____/| $$  / $$
    | $$  | $$$$| $$| $$  \ $$| $$      |  $$/ $$/
    | $$  | $$ $$ $$| $$  | $$| $$$$$    \  $$$$/ 
    | $$  | $$  $$$$| $$  | $$| $$__/     >$$  $$ 
    | $$  | $$\  $$$| $$  | $$| $$       /$$/\  $$
   /$$$$$$| $$ \  $$| $$$$$$$/| $$$$$$$$| $$  \ $$
  |______/|__/  \__/|_______/ |________/|__/  |__/ */

hr {
  border-top: 3px solid #04adcc;
}

#hr_holder__1 {
  position: relative;
  width: 158px;
  bottom: 85px;
  left: 9px;
}

#hr_holder__2 {
  position: relative;
  width: 44px;
  bottom: 97px;
  left: 224px;
}

.design_wrapper__index {
  position: relative;
  top: 80px;
  width: 39%;
  margin: 50px auto;
}

.thumb_container__index {

}

.thumb__index {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 1px;
}

.thumb_box__index {
  display: inline-block;
  max-width: 111px;
  overflow: hidden;
}

.design_desc {
  font-family: avenir, helvetica, arial, sans-serif;
  font-size: 1em;
  padding: 5px;
  margin-bottom: 35px;
}

.short_desc {
  display: none;
}


/* /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$ /$$    /$$ /$$$$$$$$
  | $$__  $$| $$_____/ /$$__  $$| $$__  $$ /$$__  $$| $$$ | $$ /$$__  $$|_  $$_/| $$   | $$| $$_____/
  | $$  \ $$| $$      | $$  \__/| $$  \ $$| $$  \ $$| $$$$| $$| $$  \__/  | $$  | $$   | $$| $$      
  | $$$$$$$/| $$$$$   |  $$$$$$ | $$$$$$$/| $$  | $$| $$ $$ $$|  $$$$$$   | $$  |  $$ / $$/| $$$$$   
  | $$__  $$| $$__/    \____  $$| $$____/ | $$  | $$| $$  $$$$ \____  $$  | $$   \  $$ $$/ | $$__/   
  | $$  \ $$| $$       /$$  \ $$| $$      | $$  | $$| $$\  $$$ /$$  \ $$  | $$    \  $$$/  | $$      
  | $$  | $$| $$$$$$$$|  $$$$$$/| $$      |  $$$$$$/| $$ \  $$|  $$$$$$/ /$$$$$$   \  $/   | $$$$$$$$
  |__/  |__/|________/ \______/ |__/       \______/ |__/  \__/ \______/ |______/    \_/    |________/*/



@media only screen and (max-width: 1402px) {

  #title_headline {
    max-width: 90px; 
    font-size: 2em; 
    color: #04adcc;
  }

  .logo_type_not_home__design_show_1 {
    top: 75%;
    font-size: 85%
  }

  .logo_type_not_home__design_show_2 {
    position: fixed;
    top: 75%;
    font-size: 85%
  }

  .edit_link {
    display: none;
  }

  .design_view_container_2 {
    position: fixed;
    top: 130px;
    left: 450px;
    max-width: 36%;
  }

}


@media only screen and (max-width: 1337px) {

  .logo_type_not_home__design_show_1 {
    top: 560px;
    font-size: 70%
  }

  .logo_type_not_home__design_show_2 {
    top: 68%;
    font-size: 75%
  }

  .design_view_container_2 {
    float: left;
    max-width: 49%;
  }

}


@media only screen and (max-width: 1290px) {

  #design_logo {
    font-size: 80%;
  }

  hr {
    border-top: 2px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 125px;
    bottom: 68px;
    left: 9px;
  }

  #hr_holder__2 {
    position: relative;
    width: 35px;
    bottom: 78px;
    left: 180px;
  }

  .design_view_container_2 {
    float: left;
    max-width: 35%;
  }

  #title_headline {
    position: fixed;
    left: 100px;
    bottom: 150px;
  }


}

@media only screen and (max-width: 1260px) {

 .design_view_container {
    float: left;
    max-width: 60%;
  }

  .design_view_container_2 {
    float: left;
    max-width: 50%;
  }

}

@media only screen and (max-width: 1190px) {

  .logo_type_not_home__design_show_1 {
    top: 560px;
    font-size: 75%;
    max-width: 500px;
    left: 31%;
  }

  .logo_type_not_home__design_show_2 {
    top: 68%;
    font-size: 75%;
    max-width: 500px;
    left: 42%;
  }

  #title_headline {
  }

  .design_view_container_2 {
    max-width: 47.5%;
  }

  .design_thumb_container_1 {
    display: block;
    margin-right: 10px;
    float: left;
  }

  .design_thumb_container_2 {
    display: block;
    width: 112px;
    margin-right: 10px;
    float: left;
  }


}

@media only screen and (max-width: 1080px) {
   #design_logo {
    font-size: 70%;
  }

  hr {
    border-top: 1.5px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 110px;
    bottom: 58px;
    left: 6px;
  }

  #hr_holder__2 {
    position: relative;
    width: 30px;
    bottom: 66px;
    left: 158px;
  }

  .design_wrapper__index {
    left: 15px;
    width: 45%;
  }

  .design_view_container_2 {
    max-width: 46%;
  }

}

@media only screen and (max-width: 1024px) {
  .long_desc {
    display: none;
  }

  .short_desc{
    display: unset;
    position: fixed;
    top: 250px;
    left: 800px;
    max-width: 150px;
    padding: 0 0 0 5px;
    font-family: 'dejavuserif', 'droidserif-regular', 'anonymous pro', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: .85em;
    line-height: 1.55em;
  }

  .design_wrapper {
    width: 70%;
  }

  #design_logo {
    font-size: 70%;
  }

  hr {
    border-top: 1.5px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 110px;
    bottom: 58px;
    left: 6px;
  }

  #hr_holder__2 {
    position: relative;
    width: 30px;
    bottom: 66px;
    left: 158px;
  }

  .design_wrapper__index {
    left: 35px;
    width: 50%;
  }

  .logo_type_not_home__design_show_1 {
    font-size: 85%;
    position: fixed;
    top: 100px;
    left: 800px;
    max-width: 100px;
  }

  .logo_type_not_home__design_show_2 {
    font-size: 85%;
    position: fixed;
    top: 100px;
    left: 800px;
    max-width: 100px;
  }

  #title_headline {
    position: static;
    max-width: 500px; 
  }

  .design_view_container {
    position: fixed;
    float: none;
    top: 130px;
    left: 350px;
    max-width: 35%;
  }

  .design_view_container_2 {
    position: fixed;
    float: none;
    top: 130px;
    left: 400px;
    max-width: 35%;
  }


}

@media only screen and (max-width: 920px) {
  #design_logo {
    font-size: 65%;
  }

  hr {
    border-top: 1px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 95px;
    bottom: 55px;
    left: 6px;
  }

  #hr_holder__2 {
    position: relative;
    width: 26px;
    bottom: 63px;
    left: 148px;
  }

  .design_wrapper__index {
    left: 80px;
    width: 60%;
  }

  .design_wrapper {
    width: 80%;
  }

}

@media only screen and (max-width: 769px) {
  #design_logo {
    font-size: 40%;
  }

  hr {
    display: none;
  }

  .design_wrapper__index {
    left: 80px;
    width: 70%;
  }

  .design_desc__index {
    margin-bottom: 20px;
  }

  .design_wrapper {
    width: 88%;
  }

  .short_desc {
    top: 520px;
    left: 380px;
  }

  .logo_type_not_home__design_show_1 {
    font-size: 70%;
    left: 30%;
    top: 575px;
  }

  .logo_type_not_home__design_show_2 {
    font-size: 70%;
    left: 50%;
    top: 380px;
  }

  .design_view_container {
    position: fixed;
    float: none;
    top: 130px;
    left: 220px;
    max-width: 50%;
  }

}

@media only screen and (max-width: 687px) {

  .design_wrapper__index {
    left: 45px;
    width: 80%;
  }

  /*showpage*/

  .design_view_container {
    position: fixed;
    left: 250px;
    top: 150px;
    max-width: 55%;
  }

  .design_view_container_2 {
    position: fixed;
    left: 250px;
    top: 150px;
    max-width: 47%;
  }

  .design_wrapper {
    width: 60%;
  }

  #title_headline {
    max-width: 450px; 
  }

  .long_desc {
    display: none;
  }

  .design_thumb_container_1 {
    display: inline-block;
    margin-right: 10px;
    float: left;
    position: relative;
    top: 20px;
    width: 240px;
  }

  .design_thumb_container_2 {
    display: inline-block;
    width: 112px;
    margin-right: 10px;
    float: left;
    top: 20px;
  }

  .logo_type_not_home__design_show_1 {
    top: 90px;
    left: 140px;
    font-size: 60%;
    max-width: 500px;
  }

  .logo_type_not_home__design_show_2 {
    top: 90px;
    left: 100px;
    font-size: 60%;
    max-width: 500px;
  }


}  


@media only screen and (max-width: 560px) {


  .design_view_container {
    position: fixed;
    top: 150px;
    left: 230px;
    max-width: 55%;
  }

  .design_view_container_2 {
    position: fixed;
    top: 150px;
    left: 230px;
    max-width: 47%;
  }

}

@media only screen and (max-width: 515px) {

  .design_wrapper__index {
    left: 45px;
    width: 80%;
  }

  /*showpage*/

  .design_view_container {
    position: fixed;
    left: 60px;
    top: 150px;
    min-width: 300px;
    max-width: 300px;
  }

  .design_view_container_2 {
    position: fixed;
    left: 60px;
    top: 150px;
    min-width: 300px;
    max-width: 300px;
  }

  .design_wrapper {
    width: 65%;
  }

  #title_headline {
    max-width: 450px; 
  }

  .long_desc {
    display: none;
  }

  .design_thumb_container_1 {
    display: inline-block;
    margin-right: 10px;
    top: 325px;
    width: 240px;
  }

  .design_thumb_container_2 {
    display: inline-block;
    width: 112px;
    margin-right: 10px;
    float: left;
    top: 20px;
  }

  .logo_type_not_home__design_show_1 {
    top: 90px;
    left: 70px;
    font-size: 60%;
    max-width: 500px;
  }

  .logo_type_not_home__design_show_2 {
    top: 90px;
    left: 70px;
    font-size: 60%;
    max-width: 500px;
  }

  .short_desc{
    top: 460px;
    left: 190px;
  }

  footer {
    display: none;
  }



}