// Place all the styles related to the design controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.design_container {
  max-width: 600px;
  padding: 2px;
  margin: 5px;
}

.thumb_container {
}

.design_thumb {
  margin: 0 24px 0 1px;
}