/*// Place all the styles related to the design controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/* /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$  /$$$$$$  /$$   /$$       /$$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$$$  /$$$$$$ 
  | $$__  $$| $$_____/ /$$__  $$|_  $$_/ /$$__  $$| $$$ | $$      | $$__  $$ /$$__  $$ /$$__  $$| $$_____/ /$$__  $$
  | $$  \ $$| $$      | $$  \__/  | $$  | $$  \__/| $$$$| $$      | $$  \ $$| $$  \ $$| $$  \__/| $$      | $$  \__/
  | $$  | $$| $$$$$   |  $$$$$$   | $$  | $$ /$$$$| $$ $$ $$      | $$$$$$$/| $$$$$$$$| $$ /$$$$| $$$$$   |  $$$$$$ 
  | $$  | $$| $$__/    \____  $$  | $$  | $$|_  $$| $$  $$$$      | $$____/ | $$__  $$| $$|_  $$| $$__/    \____  $$
  | $$  | $$| $$       /$$  \ $$  | $$  | $$  \ $$| $$\  $$$      | $$      | $$  | $$| $$  \ $$| $$       /$$  \ $$
  | $$$$$$$/| $$$$$$$$|  $$$$$$/ /$$$$$$|  $$$$$$/| $$ \  $$      | $$      | $$  | $$|  $$$$$$/| $$$$$$$$|  $$$$$$/
  |_______/ |________/ \______/ |______/ \______/ |__/  \__/      |__/      |__/  |__/ \______/ |________/ \______/*/

/*show page*/

/*needs responsive css for widths less than 1363px*/

.design_wrapper {
  position: relative;
  top: 80px;
  width: 60%;
  margin: 50px auto;
}

.design_wrapper_2 {
  position: relative;
  top: 80px;
  width: 70%;
  margin: 50px auto;
}

.design_thumb_container_1 {
  display: inline-block;
  margin-right: 10px;
  float: left;
}

.design_thumb_container_2 {
  display: inline-block;
  width: 112px;
  margin-right: 10px;
  float: left;
}

.thumb {
  height: 111px;
  margin-bottom: 31px;
  padding: 1px;
}

.design_view_container {
  float: left;
  max-width: 64%;
}

.design_view_container_2 {
  float: left;
  max-width: 54%;
}

.long_desc {
  max-width: 20%; 
  float: right;
  padding: 0 0 0 5px;
  font-family: 'dejavuserif', 'droidserif-regular', 'anonymous pro', times, serif;
  font-size: .85em;
  line-height: 1.55em;
  border-left: solid;
  border-color: #04adcc;
  border-width: 2px;
}

.design_container {
  max-height: 100%
}

.logo_type_not_home__design_show_1 {
  position: fixed;
  top: 60%;
  left: 68%;
}

.logo_type_not_home__design_show_2 {
  position: fixed;
  top: 60%;
  left: 71%;
}

/*index page*/

hr {
  border-top: 3px solid #04adcc;
}

#hr_holder__1 {
  position: relative;
  width: 158px;
  bottom: 85px;
  left: 9px;
}

#hr_holder__2 {
  position: relative;
  width: 44px;
  bottom: 97px;
  left: 224px;
}

.design_wrapper__index {
  position: relative;
  top: 80px;
  width: 43%;
  margin: 50px auto;
}

.thumb_container__index {

}

.thumb__index {
  height: 111px;
  margin-bottom: 5px;
  margin-right: 3px;
  margin-left: 3px;
  padding: 1px;
}

.thumb_box__index {
  display: inline-block;
  max-width: 111px;
  overflow: hidden;
}

.design_desc {
  font-family: avenir, helvetica, arial, sans-serif;
  font-size: 1em;
  padding: 5px;
}

@media only screen and (max-width: 1290px) {

  #design_logo {
    font-size: 80%;
  }

  hr {
    border-top: 2px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 125px;
    bottom: 68px;
    left: 9px;
  }

  #hr_holder__2 {
    position: relative;
    width: 35px;
    bottom: 78px;
    left: 180px;
  }

}

@media only screen and (max-width: 1080px) {
   #design_logo {
    font-size: 70%;
  }

  hr {
    border-top: 1.5px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 110px;
    bottom: 58px;
    left: 6px;
  }

  #hr_holder__2 {
    position: relative;
    width: 30px;
    bottom: 66px;
    left: 158px;
  }

  .design_wrapper__index {
    left: 15px;
    width: 45%;
  }

}

@media only screen and (max-width: 1020px) {
   #design_logo {
    font-size: 70%;
  }

  hr {
    border-top: 1.5px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 110px;
    bottom: 58px;
    left: 6px;
  }

  #hr_holder__2 {
    position: relative;
    width: 30px;
    bottom: 66px;
    left: 158px;
  }

  .design_wrapper__index {
    left: 35px;
    width: 50%;
  }


}

@media only screen and (max-width: 920px) {
   #design_logo {
    font-size: 65%;
  }

  hr {
    border-top: 1px solid #04adcc;
  }

  #hr_holder__1 {
    position: relative;
    width: 95px;
    bottom: 55px;
    left: 6px;
  }

  #hr_holder__2 {
    position: relative;
    width: 26px;
    bottom: 63px;
    left: 148px;
  }

  .design_wrapper__index {
    left: 80px;
    width: 60%;
  }


}

@media only screen and (max-width: 766px) {
  #design_logo {
    font-size: 40%;
  }

  hr {
    display: none;
  }

  .design_wrapper__index {
    left: 80px;
    width: 70%;
  }

  .design_desc {
    margin-bottom: 20px;
  }


}