// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$donblue: #04adcc;
$don-grey: #7a7a7a;
$sans-base: "avenir", "Muli", "Trebuchet MS", helvetica, sans-serif;
$serif-base: 'dejavuserif', 'droidserif-regular', 'anonymous pro', "Palatino Linotype", "Book Antiqua", Palatino serif;

.program_wrapper__index {
  position: relative;
  top: 10px;
  left: 20px;
  width: 55%;
  margin: 50px auto;
}

.program_thumb_wrapper {
  float: left
}

.program_thumb_container_1 {
  display: inline-block;
  width: 112px;
  margin-right: 10px;
}

.program_thumb_container_2 {
  display: inline-block;
  width: 112px;
  margin-right: 10px;
}

.program_thumb {
  height: 111px;
  margin-bottom: 31px;
  padding: 1px;
}

.program_view_container {
  float: left;
  max-width: 60%;
}

#clearfix {
  overflow: auto;
}

.highlight_image {
  max-width: 100%;
  max-height: 600px;
}

.program_links {
  float: left;
  font: {
    family: $sans-base;
    size: 1em;
    }
  padding: 0px;
  margin-right: 10px;
}

.program_title {
  color: $donblue; 
  margin-bottom: 5px;
}

.program_desc {
  margin-top: 5px; 
  margin-bottom: 20px;
}

#program_break {
  border-top: 1px solid $donblue;
}

#hr_holder__3 {
  position: relative;
  width: 184px;
  bottom: 84px;
  left: 12px;
}


/* /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$  /$$$$$$  /$$$$$$ /$$    /$$ /$$$$$$$$
  | $$__  $$| $$_____/ /$$__  $$| $$__  $$ /$$__  $$| $$$ | $$ /$$__  $$|_  $$_/| $$   | $$| $$_____/
  | $$  \ $$| $$      | $$  \__/| $$  \ $$| $$  \ $$| $$$$| $$| $$  \__/  | $$  | $$   | $$| $$      
  | $$$$$$$/| $$$$$   |  $$$$$$ | $$$$$$$/| $$  | $$| $$ $$ $$|  $$$$$$   | $$  |  $$ / $$/| $$$$$   
  | $$__  $$| $$__/    \____  $$| $$____/ | $$  | $$| $$  $$$$ \____  $$  | $$   \  $$ $$/ | $$__/   
  | $$  \ $$| $$       /$$  \ $$| $$      | $$  | $$| $$\  $$$ /$$  \ $$  | $$    \  $$$/  | $$      
  | $$  | $$| $$$$$$$$|  $$$$$$/| $$      |  $$$$$$/| $$ \  $$|  $$$$$$/ /$$$$$$   \  $/   | $$$$$$$$
  |__/  |__/|________/ \______/ |__/       \______/ |__/  \__/ \______/ |______/    \_/    |________/*/

@media only screen and (max-width: 1320px) {

  #program_logo {
    position: fixed;
    top: 450px;
    left: 50px;
  }

  #hr_holder__3 {
    position: relative;
    width: 184px;
    bottom: 84px;
    left: 12px;
  }


}


@media only screen and (max-width: 1130px) {
  .program_wrapper__index {
    position: relative;
    left: 115px;
    width: 61%;
    margin: 50px auto;
  }

}

@media only screen and (max-width: 1024px) {
  .program_wrapper__index {
    position: relative;
    left: 110px;
    width: 62%;
    margin: 40px auto;
  }

}

@media only screen and (max-width: 1000px) {
  #hr_holder__3 {
    display: none;
  }

  .program_wrapper__index {
    width: 70%;
  }

}

@media only screen and (max-width: 888px) {
  .program_wrapper__index {
    left: 125px;
    width: 100%;
  }

  .program_view_container {
    max-width: 50%;
  }

  #program_logo {
    display: none;
  }

}

@media only screen and (max-width: 760px) {
  .program_wrapper__index {
    left: 100px;
    width: 100%;
  }

  .program_view_container {
    max-width: 50%;
  }

}

@media only screen and (max-height: 768px) {

  #program_logo {
    top: 375px;
    left: 50px;
  }

}

@media only screen and (max-height: 601px) {

  #program_logo {
    display: none;
  }

}

