// Place all the styles related to the Programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.program_wrapper__index {
  position: relative;
  top: 80px;
  width: 50%;
  margin: 50px auto;
}

.program_thumb_container_1 {
  display: inline-block;
  width: 112px;
  margin-right: 10px;
}

.program_thumb_container_2 {
  display: inline-block;
  width: 112px;
  margin-right: 10px;
}

.program_thumb {
  max-width: 111px;
  height: 111px;
  margin-bottom: 31px;
  padding: 1px;
}

.program_view_container {
  float: left;
  border: solid 1px;
  max-width: 60%;
}

#clearfix {
  overflow: auto;
}

.highlight_image {
  max-width: 100%;
}

.place_holder {
  max-width: 111px;
  height: 111px;
  margin-bottom: 31px;
  padding: 1px;
}

.program_details {
  float: left;
  font-family: avenir, helvetica, arial, sans-serif;
  font-size: 1em;
  padding: 0px;
  margin: 0px;
}

#program_break {
  border-top: 1px solid #04adcc;
}

#hr_holder__3 {
  position: relative;
  width: 184px;
  bottom: 84px;
  left: 12px;
}


