<% content_for :home_nav do %>
  <div id="navbar_home">
    <nav>
      <div class="links">
        <%=link_to 'design', designs_path%>
        <%=link_to 'programming', programs_path%>
        <%=link_to 'blog', blog_index_path%>
        <%=link_to 'about', about_path %>
      </div>
    </nav>
  </div><!-- #navbar -->
<% end %>


<div class="wrapper">

<div class="logo_type">
  <div id="logo_type_1">
    <h1><a id='home_head' href='/designs'><span class='don'>d</span>esign</a></h1> 
    <h1><a id='home_head' href='/programs'>pr<span class='don'>o</span>gram</a></h1>
  </div>

  <div id="logo_type_2">  
    <h1><a id='rinse_link' href='/blog'>ri<span class='don'>n</span>se</a></h1>
    <h1><a id='repeat_link' href='/about'>repeat</h1>
  </div>
</div>

</div>