<% content_for :home_nav do %>
  <div id="navbar_home">
    <nav>
      <div class="links">
        <%=link_to 'design', designs_path%>
        <a href="programming.html">programming</a>
        <%=link_to 'blog', blog_index_path%>
        <a href="sandbox.html">sandbox</a>
      </div>
    </nav>
  </div><!-- #navbar -->
<% end %>


<div class="wrapper">

<div class="logo_type">
  <div id="logo_type_1">
    <h1><span class='don'>d</span>esign</h1> 
    <h1>pr<span class='don'>o</span>gram</h1>
  </div>

  <div id="logo_type_2">  
    <h1>ri<span class='don'>n</span>se</h1>
    <h1>repeat</h1>
  </div>
</div>

</div>