<% content_for :home_nav do %>
    <div id='nav_tree__container'>
      <div class='link_holder' id='about_link'>don</div>
      <div class='link_holder' id='design_link'>design</div>
      <div class='link_holder' id='programming_link'>programming</div>
      <div class='link_holder' id ='blog_link'>blog</div>
    </div>
<% end %>


<div class="wrapper">

<div class="logo_type">
  <div id="logo_type_1">
    <h1><a id='home_head' href='/designs'><span class='don_design'>design</span></a></h1> 
    <h1><a id='home_head' href='/programs'><span class='don_program'>program</span></a></h1>
  </div>

  <div id="logo_type_2">  
    <h1><a id='rinse_link' href='/blog'><span class='don_rinse'>rinse</span></a></h1>
    <h1><a id='repeat_link' href='/about'>repeat</h1></a>
  </div>
</div>

</div>